<div class="acontainer">
<%= simple_form_for(@request) do |f| %>
  <%= f.input :starting_location %>
  <%= f.input :ending_location %>
  <%= f.submit "Request Driver", class: "btn btn-info btn-block" %>
<% end %>

<div>
<%= link_to 'Back', root_path, class: "btn btn-primary btn-large" %>
</div>
</div>
