<div class="acontainer margin-from-navbar">


<%= simple_form_for(@request) do |f| %>
  <%= f.input :starting_location %>
  <%= f.input :ending_location %>
  <%= f.submit "Request Driver", class: "btn btn-info btn-block" %>
<% end %>
  <div class="lback text-center" >
     <%= link_to  root_path do %>
     <i class="fas fa-long-arrow-alt-left"></i> back
     <% end %>
  </div>

</div>
