<div class="acontainerfive">
  <h2>The Journey Home</h2>
</div>
<!-- <div>MAP HERE!!!</div> -->

<div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<div class="align-self-center" id="review" data-ride-id="<%= @ride.id %>">
  <% if @ride.user == current_user %>
    <%= link_to "Journey completed", ride_path(@ride), method: :put, class: "btn btn-primary btn-block" %>
  <% else %>
    <%= render 'shared/journey_completed' %>
  <% end %>
</div>
<!-- </div> -->
