<div id="review" data-ride-id="<%= @ride.id %>">
  <!-- <div class="acontainerfive" id="title">
    <h4>The Journey Home</h4>
  </div> -->

  <!-- <div class="acontainersix">
    <div id="map"
      style="width: 100%; height: 500px;"
      sytle="align-self-center"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div> -->

  <div class="acontainerseven">
    <% if @ride.user == current_user %>
    <h5><%= "You are currently driving home:" %></h5>
    <div class="acontainersix">
    <div id="map"
      style="width: 100%; height: 480px;"
      sytle="align-self-center"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{@ride.user.nickname}", id: "avatar-driver" %>
  </div>
  <div class="acontainerten">
      <h5><%= @request.user.first_name %> <%= @request.user.last_name %></h5>
      <p><%= @request.user.phone_number %></p>
        <%= link_to "Journey completed", ride_path(@ride), method: :put, class: "btn btn-secondary btn-lg btn-block" %>
  </div>
    <% else %>
      <%= render 'shared/journey_completed' %>
    <% end %>
  </div>
</div>
